:root{
    --text-color:white;
    --index:calc(1vh + 1vw);
    --az: 1;
    --bg-coolr:#151414;
    --shadow:rgb(0, 0, 0);
    --glsssBG:#2b2b2b72;
}
 #dark-theme-img{
    display: block;
 }
 #light-theme-img{
    display: none;
 }
html {
  font-size: 100%; 
}
@font-face {
    font-family:"ALS-Schlange-Sans";
    src: url(../fonts/ALS-Schlange-Sans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family:"ALS-Schlange-Sans";
    src: url(../fonts/ALS-Schlange-Ssans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family:"Fira-Sans";
    src: url(../fonts/Fira-Sans-Bold.ttf);
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #151414;
}
/* ------------------mainSettings-------------------- */
h1 {
  font-size: calc(var(--index)*1.7); 
  line-height: 1.2;
  font-family: Fira-Sans;
  color:white;
  margin-bottom: 3%;
}

h2 {
  font-size: calc(var(--index)*1.3);
  line-height: 1.3;
  font-family: Fira-Sans;
  color:var(--text-color);
}

h3 {
  font-size: calc(var(--index)*1); 
  line-height: 1.4;
  font-family: Fira-Sans;
  color:var(--text-color);
  margin-bottom: 1%;
}

a {
  font-size: calc(var(--index)*0.64); 
  text-decoration: none;
  line-height: 1.6;
  font-family:ALS-Schlange-Sans;
  font-weight: 700;
  color:var(--text-color);
}

p, #search::placeholder,#search{
  font-size: calc(var(--index)*0.68); 
  line-height: 1.7;
  font-family:ALS-Schlange-Sans;
  color:var(--text-color);
  
}
/* ------------------Typography-------------------- */
#menu__toggle{
    display: none;
}
.menu__box{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1% 7%;
}
.menu__box img{
    width: 12em;
}
.menu__box>li{
    display: flex;
    align-items:center;
}
.menu__box a{
    color: white;
}
.button{
    width: 9vw;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:#22ABE2;
    padding: 0.5em;
}
#search{
    width: 9vw;
    background-color:transparent;
    outline: none;
    border:0.2em solid #848484;
    color: white;
    padding: 0.34em 1em 0.35em 3em;
    background-image:url(../img/Search.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y:center;
    background-size: 15%;
    margin-right: 2em;
}
.search{
    display: flex;

}
/* ----------------JS---------------- */
.menu__item.active {
  position: relative;
}

.menu__item.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: calc(3px * var(--az));
  background-color: #22ABE2;
}
/* ------------------menu-------------------- */
nav {
  grid-area: n;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Плавный переход и для transform, и для фона */
  transition: transform 0.3s ease, background-color 0.3s ease;

  background-color: transparent;
}

nav.scrolled {
  background-color: rgba(33, 33, 33, 0.516); 
  backdrop-filter: blur(calc(40px * var(--az)));
}

.hero-info{
    grid-area: t;
    align-self: self-end;
}
.hero-img{
    grid-area: i;
        align-self: self-end;
}
header{
    padding-left: 7%;
    padding-right: 7%;
    position: relative;
    background-image: url(../img/grid.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns:40% 60%; 
    grid-template-rows:10% auto;
    grid-template-areas: 
                        "n n"
                        "t i";
}
.hero-img{
    display: flex;
    align-items: end;
}
.hero-img>img{
    width: 100%;
    transform: translateX(2%);
}
.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20vh;
}
.secondary{
    background-color:transparent;
        border:0.2em solid #22ABE2;
}
.cta{
    display: flex;
    gap:5%;
    margin-top: 8%;
}
/*-------------------headedr----------------*/
#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.video-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.812) 60%, rgba(0, 0, 0, 0.097) 100%);
    z-index: -1;
    pointer-events: none;
}
/*-------------------video----------------*/

.clients,.solutions,.our-works,.news{
    margin: 5% 0;
}
.clients h2{
      margin-bottom: 3%;
}
.clients-text{
    width: 40%;
    text-align: center;
    margin: auto;
    margin-bottom: 3%;
}
.carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 100%;
    overflow: hidden;
    display: flex;
        > * {
        flex: 0 0 100%;
    }
        &:hover .group {
        animation-play-state: paused;
    }
}
.carousel-item {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item>img{
    width: 100%;
}
  .group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    will-change: transform; 
    animation: scrolling 30s linear infinite;
}
  @keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/*-------------------clients----------------*/
.heading{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.heading img{
    width: 20%;
}

.about-solutions-header{
    grid-area: ash;
}
.about-solutions-cards{
    grid-area: asc;
}
.about-solutions{
    padding: 0% 7%;
    background-image: url(../img/product-bg.jpg);
    background-size:cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: 
                        "ash"
                        "asc";
    height: 100vh;

}
.heading>img{
    opacity: 0.2;
}
.solution-card {
  width: 45%;
  background-color: #00142b80;
  backdrop-filter: blur(100px);
  padding: 2%;
  height: 60vh;
  position: relative;
  overflow: visible;  
  border:1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.about-solutions-cards{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}
.image-wrapper {
  position: relative;
  overflow: visible;
}

.image-wrapper img {
  width: 100%;
  position: relative;
  top: -4vh; 
  left: 0;
}
.solution-card>p{
    margin-bottom: 4%;
}
.solution-card{
    transform: translateY(15%);
}
.solution-card-button{
    display: inline-block;
    width:fit-content;
}
/*-------------------about-solutions----------------*/

.our-works-header {
  flex-direction: row-reverse;
}
.our-works {
  padding: 0 7%;
}
.our-works-gallery-trigger-wrapper{
    grid-area: owgtw;
    display: flex;
    align-items:center;
}
.our-works-gallery-trigger-wrapper-second{
    grid-area: owgtws;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.our-works-gallery {
  margin-top: 4%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-areas: "owgtw owww  owgtws";
  gap: calc(20px * var(--az));
  /* outline: 1px dashed red; */
}
.our-works-work-wrapper {
  display: flex;

  overflow: hidden;
  width: 100%;
  position: relative;
  height: 55vh;
  grid-area: owww;
}
.our-works-work-wrapper::after {
  content: '';
  display: block;
  padding-bottom: 60%; 
}
.our-works-gallery-trigger,
.review-trigger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #22ABE2;
  width: 50px;
  height: 50px;
  transform-origin: top left;
  transition: transform 0.2s ease;
  padding: 0.5em 1em;
  border: 0.2em solid #22ABE2;
  cursor: pointer;
    margin-bottom:calc(50px * var(--az)) ;
}
#arrow{
    stroke: white;
}
.our-works-gallery-trigger img,.review-trigger img {
  max-width: 100%;
  height: auto;
}
.our-works-work {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: calc(20px * var(--az));
  display: flex;
  justify-content: space-between;
    flex-wrap: wrap;
  opacity: 0;
  pointer-events: none;
    transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.our-works-work.active {
  opacity: 1;
  pointer-events: auto;
    opacity: 1;
  transform: translateY(0);
}
.our-works-work-img {
  width: 60%;
  position: relative;
  box-shadow: calc(-10px * var(--az)) calc(-15px * var(--az)) 0 #1f1f1f;
  background-size: cover;
  
}
.our-works-info {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-works-info-button {
  margin-top: 10%;
}
.trigger-secondary {
  background-color: transparent;
  border: 0.2em solid #22ABE2;
}
.right-trigger>svg {
  transform: rotate(180deg);
}
.our-works-counter-wrapper,.review-counter-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}
.our-works-counter {
  width: calc(20px * var(--az));
  height: calc(20px * var(--az));
  margin: calc(0.5em * var(--az));
  transform-origin: center;
  background-color: #22ABE2;
  
}
.counter-secondary {
  background-color: transparent;
  border: calc(0.2em * var(--az)) solid #22ABE2;
}
/*-------------------our-works-----------------*/
.reviews{
    height: 100vh;
    padding:7%;
    background-color: #1F1F1F;
    
}

.review-gallery{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.review{
  width: 32%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  visibility: hidden;
  position: absolute;
  pointer-events: none;

}
.review.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  position: static;
  pointer-events: auto;
}

.review-text{
    background-color: #151414;
    padding: calc(2.5em * var(--az));
    border: calc(.5em * var(--az)) solid #333233;
}
.review-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 88%;
}
.client-log{
    background-color: #262626;
    border:calc(.2em * var(--az)) solid #22ABE2;
    width: calc(130px * var(--az));
    height: calc(130px * var(--az));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 60%;
    top: 8%;
    background-color: #262626;
}
.client-log>img{
    width:  calc(60px * var(--az));
}
.review-text>h3{
    margin: 4% 0 2% 0;
}
.review-trigger{
    margin-top: calc(80px * var(--az));
    cursor: pointer;
}
.review-counter-wrapper{
    margin-top: calc(3em * var(--az));
}
/* ---------------------------------reviews-------------------------- */
.contact-us{
    padding: 0 7%;
    background:linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.815) 30%, rgba(0, 0, 0, 0.624) 60%, rgba(0, 0, 0, 0) 100%) ,url(../img/cta-img.png);
    height: 80vh;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.contact-us-text{
    width:  calc(40em * var(--az));
    padding:  calc(2em * var(--az));
    background-color: #6161612e;
    backdrop-filter:blur(50px);
}
.contact-us-text{
    position: relative;
}
.contact-us-text>img{
    position: absolute;
    bottom: 92%;
    width: 13.8%;
}
.second_holder{
    left: 80%;
}
.contact-us>img{
    width: 26%;
}
.contact-us-text>p{
    margin-top: 3%;
    margin-bottom: 7%;
}
/* ---------------------------------contact-us-------------------------- */
.news-header-product{
    grid-area: nhp;
}
.news-header-company{
    grid-area: nhc;
}
.first-news-product{
    grid-area:fnp;
}
.second-news-product{
    grid-area: snp;
}
.first-news-company{
    grid-area: fnc;
}
.second-news-company{
    grid-area: snc;
}
.know-more{
    grid-area: km;
}
.news{
    height: 100vh;
    padding: 0 7%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    gap: calc(20px * var(--az));
    grid-template-areas: 
                        "nhp nhc nhc"
                        "fnp fnc snc"
                        "snp fnc snc"
                        "km km km";
    background: #151414;
    background: radial-gradient(circle,rgba(21, 20, 20, 1) 0%, rgba(30, 69, 84, 1) 0%, rgba(24, 38, 44, 1) 15%, rgba(21, 20, 20, 1) 29%);
}
.news-header-product,.news-header-company{
    display: flex;
    justify-content: center;
    align-items:center;
}
.first-news-product,
.second-news-product,
.first-news-company,
.second-news-company{
    border: calc(4px * var(--az)) solid #333233;
    padding: calc(20px * var(--az));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.first-news-product>p,
.second-news-product>p,
.first-news-company>p,
.second-news-company>p{
    margin-bottom: 3vh;
}
.know-more-btn{
    margin: auto;
}

/* ---------------------------------news-------------------------- */
footer{
    padding: 3% 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.map-point a{
    font-weight: 400;
}
.map{

    width: 15%;
}
.map-point{
    list-style: none;
}
.footer-main-info{
    width: 25%;
}
.location-info{
    margin-top: 4%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.location
{
    width: 13%;
}
.location-info-img-wrapper{
    width: calc(55px * var(--az));
    height: calc(55px * var(--az));
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #d9d9d95d;
    border:calc(1px * var(--az)) solid #A2A2A2;
}
.location-info-img-wrapper img{
    width: calc(20px * var(--az));
}
.map-point>li{
    margin-top: 4%;
}
.footer-main-info>img{
    width: 100%;
}

@media(max-width:900px){
    .scrolled{
        background-color: #14141400 !important;
        backdrop-filter:blur(400px) !important;

    }
    nav{
        background-color: transparent;
    }
    #menu__toggle {
    opacity: 0;
    }
    .menu__btn {
    display: flex; 
    align-items: center;  
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 20;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    }
    .menu__btn > span::before {
    content: '';
    top: -8px;
    }
    .menu__btn > span::after {
    content: '';
    top: 8px;
    }
    .menu__box {
    z-index: 5;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100vh;
    margin: 0;
    padding: 80px 10px;
    list-style: none;
    background-color: #141414a3;
    backdrop-filter:blur(25px);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    .menu__box img {
        width: 100%;
}
    .menu__item {
    display: block;
    padding: 12px 0 8px 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-decoration: none;
    width: 100%;margin-bottom: 10px;
    }
    .menu__item:hover {
    background-color: #22ace2a2;
    }
    #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    transition-duration: .25s;
    }
    .menu__box {
    transition-duration: .25s;
    }
    .menu__item {
    transition-duration: .25s;
    }
    .menu__item>img{
        width: calc(120px * var(--az))
    }
    .search{
        flex-wrap: wrap;
    }
    #search,.secondaryMenu{
        width: 100% !important;
        margin: 12px 0;
    }
    #search{
        margin-top: 40px;
    }
    /* ---------------menu---------------- */

    :root{
    --index:calc(1vh + 1vw)*1.465;
    }
    header{
        grid-template-columns: 1fr;
        height: 50vh;
        grid-template-areas:"hi"
                            "hi";
        background-image: none;
    }
    .hero-info{
        text-align: center;
        margin-bottom: 0vh;
    }
    .hero-img>img {
        display: none;
    }
    .cta {
        justify-content: center;
        margin-bottom: 7%;
    }
    /* -------------header----------------- */

    .clients-text {
    width: 80%;
    }
    .button{
       width: calc(130px * var(--az)) ;
    }
    .about-solutions{
        background-image:none; 
        height: auto;
    }
    .solution-card{
        width: 100%;
        margin-top: 40%;
    }
    .solution-card:first-child{
        margin-top: 15%;
    }
    .solution-card:last-child{
        margin-bottom: 20%;
    }
    .our-works-work-img{
        height: 30vh;
        width: 100%;
    }
    .our-works-info{
        width: 100%;
    }
    .our-works-info>h3{
        margin-top: 5%;
    }
    .our-works-work-wrapper{
        height: 90vh;
    }
    .review{
        width: 80%;
    }
    .reviews{
        height: auto;
    }
    .contact-us{
        height: auto;
        flex-direction:column-reverse;
        padding: 7%;
    }
    .contact-us-text{
        width: 100%;

    }
    .contact-us>img{
        display: none;
    }
    .news {
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr 4fr 1fr;
    grid-template-areas:
        "nhp nhp"
        "fnp fnp"
        "snp snp"
        "nhc nhc"
        "fnc snc"
        "km km";
   
}
    .know-more-btn{
        width: calc(150px * var(--az))
    }
    .location{
        width: 100%;
        margin-top: calc(40px * var(--az));
    }
    .location-info{
        display: inline-flex;
        width: 25%;
        margin-right: calc(45px * var(--az));
    }
    .map{
        width: 40%;
    }
    .footer-main-info{
        width: 50%;
        margin-bottom: calc(40px * var(--az));
    }
    .carousel-item {
         width: 20%;
    }
}
@media(max-width:425px) {
        :root{
    --index:calc(1vh + 1vw)*1.48;
    }
        .news {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr calc(400px * var(--az)) calc(400px * var(--az)) 1fr calc(400px * var(--az)) calc(400px * var(--az)) 1fr;
    grid-template-areas:
        "nhp"
        "fnp"
        "snp"
        "nhc"
        "fnc"
        "snc"
        "km";
   
    }
    .map{
        width: 48%;
    }
    .footer-main-info{
        width: 100%;
    }
    .location {
        width: 49%;
    }
    .location-info{
        width: 100%;
    }
    .last-point{
        margin-top: calc(40px * var(--az));
    }
    .about-solutions{
        display: flex;
        flex-direction: column;
    }
    .about-solutions-cards{
        height: auto;
    }
    .solution-card{
        height: 50vh;
        margin-top: 0;
        padding:  calc(20px * var(--az));
    }
    .solution-card:first-child{
        margin-top: calc(10px * var(--az));
    }
    .solution-card:last-child{
       margin-top: calc(120px * var(--az));
       margin-bottom: calc(120px * var(--az));
    }
    .location-info-img-wrapper {
        width: calc(40px * var(--az));
        height: calc(40px * var(--az));
    }
    .button {
        text-align: center;
    }
    .image-wrapper img {
        top: -2vh;
    }
    .our-works-gallery-trigger, .review-trigger {
        width: 30px;
        height: 30px;
          padding: 0.2em 0.5em;

    }
    .review-text {
        background-color: #151414;
        padding: calc(12px * var(--az));
    }
    .review {
        width: 90%;
    }
    .client-log {
        width: calc(80px * var(--az));
        height: calc(80px * var(--az));
        left: 60%;
        top: 6%;
    }
    .client-log>img {
        width: calc(30px * var(--az));
    }
    .our-works-counter {
        width: calc(10px * var(--az));
        height: calc(10px * var(--az));
    }
    .our-works-work {
        padding: 0;
    }
    .our-works-info-button{
        margin: auto;
        margin-top: 6%;
    }
    .reviews-heading>h2{
        width: 70%;
}
}
    
@media (prefers-color-scheme:light) {
    body,.reviews{
        background-color: #ffffff;
    }
    :root{
         --text-color:#151414;
    }  
        p{
        color:#313131;
  
    }
    .hero-info>p{
        color: white;
    }
    .solution-card>*{
        color: white;
    }
    .review-text {
        background-color: #f4f4f4;
        border-color: rgb(152, 152, 152);
    }
    .client-log {
        background-color: #dedede;
    }
    #arrow{
        stroke: #151414 !important;
    }
    .about-solutions-header>h2{
        color: white;
    }
    header .button{
        color: white;
    } 
    #search::placeholder,#search{
        color: white;
    }
    .contact-us-text>*{
        color: white;
    }
    .first-news-product>*, .second-news-product>*, .first-news-company>*, .second-news-company>*{
        color: white;
    }
    .news{
            background: radial-gradient(circle,rgb(255, 255, 255) 0%, rgb(117, 187, 214) 0%, rgb(183, 233, 255) 15%, rgb(255, 255, 255) 29%);
    }
    #dark-theme-img{
        display: none;
    }
    #light-theme-img{
        display: block;
    }
    .heading>img{
        opacity: 1;
    }
}   
@media (prefers-color-scheme:light) and (max-width:900px){
    .about-solutions-header>h2{
        color: #151414;
    }
}
@media (prefers-color-scheme:light) and (max-width:425px){
    .about-solutions-header>h2{
        color: #151414;
    }
}