header{
    background-image: url(../img/grid_2.svg), url(../img/document-hero-placeholder.png);
    background-size:100% ;
    height: 70vh;

}
.cta{
    justify-content: center;
    margin-top: 4%;
}
    /* _-------------------header-------------------------_ */
.how-it-works{
    margin: 7% 0;
    padding: 0 7%;
}
.how-it-works-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}
.how-it-works-card{
    flex-wrap: wrap;
    background-color:var( --bg-coolr); 
    width: 100%;
    padding: calc(30px * var(--az));
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 calc(40px * var(--az)) var(--shadow);

}
.how-it-works-card>img{
    width: 50%;
    margin-bottom: 0%;
}
.how-it-works-card-text-wrapper{
    width: 45%;
}
.how-it-works-path-wrapper{
    width: 10%;
}
.how-it-works-path-wrapper>img{
    width: 40%;
}
.how-it-works-cards-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

    /* _-------------------how-it-works-------------------------_ */

.documentation-header{
    padding-inline:7% ;
    flex-direction: row-reverse;
}
.documentation-info{
    background-image: url(../img/documentation-BG-placeholder.png);
    background-size:100%;
    background-repeat: no-repeat;
    height: 110vh;
}
.documentation-info-all-tablet-point{
    display: flex;
    justify-content: space-between;
    width: calc(480px * var(--az));
    background-color:var(--glsssBG);
    backdrop-filter:blur(10px);
    border:calc(2px * var(--az)) solid #22ABE2;
    padding: calc(10px * var(--az));
    padding-left: calc(60px * var(--az));
    position: relative;
}
.documentation-info-all-tablet-point-img-wrapper{
    width: calc(70px * var(--az));
    height: calc(70px * var(--az));
    position: absolute;
    background-color:var( --bg-coolr);
    padding: calc(10px * var(--az));
    right: 95%;
}
.documentation-info-all-tablet-point-img-wrapper>img{
    width: 100%;

}
.documentation-info-all-tablet{

    position: relative;
}
.documentation-info-all-tablet-points{
    position: absolute;
    left: 30%;
    bottom:15%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.documentation-info-all{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    padding-inline: 7%;
    flex-wrap: wrap;
}
.documentation-info-all-tablet>img{
        width: calc(545px * var(--az));

}
    /* _-------------------documentation-------------------------_ */
.versions {
    padding: 4% 7% 7% 7%;
}

.versions-all-accardions {
    margin: 0% 5%;
}

.versions-accardion {
    display: flex;
    gap: 5%;
    border: calc(2px * var(--az)) solid #22ABE2;
    padding: calc(40px * var(--az));
}

.versions-accardion > img {
    rotate: -90deg;
    transition: rotate 0.3s ease;
    cursor: pointer;
}

.versions-aacardion-info {
    padding: 0 5%;
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
    transition:
        max-height 0.4s ease,
        opacity 0.3s ease,
        padding 0.3s ease;
}

.versions-aacardion-info.open {
    padding: 4% 5%;
    max-height: 1000px;
    opacity: 1;
    overflow-y: auto;
}

.versions-aacardion-info>p{
    margin-bottom: 4%;
}
.law-header{
    flex-direction: row-reverse;
}
.versions-all-accardions{
    margin: 4%;
}
.versions-accardion{
    margin-bottom:4% ;
}
.arrow.open{
    rotate: 0deg;
}


@media(max-width:900px){
    header{
    background-image: NONE, url(../img/document-hero-placeholder.png);
    background-size:cover;
    background-position: center;
    height: 70vh;
    }
 /* _-------------------header-------------------------_ */
    .cta{
        justify-content: center;
        margin-top: 8%;
        margin-bottom: 0%;
    }
    .how-it-works-card>img{
        width: 100%;
    }
    .how-it-works-card-text-wrapper{
        width: 100%;
    }
    .how-it-works-path-wrapper>img{
        width: 100%;
    }
    .how-it-works-path-wrapper{
        width: 12%;
    }
    .how-it-works-info{
        margin-top: 8%;
    }
 /* _-------------------how-it-works-------------------------_ */
    .documentation-info{
        background-image: none;
        background-size:100%;
        background-repeat: no-repeat;
        height: auto;
    }
    .documentation-info-all-tablet-points{
        bottom:12%;
    }
     /* _-------------------documentation-------------------------_ */
}

@media(max-width:425px){
    .how-it-works-path-wrapper{
        display: none;
    }
    .how-it-works-cards-wrapper{
        width: 100%;
    }
    .how-it-works-info{

        margin-top: 15%;
    }
    .how-it-works-card>img{
        margin-bottom: 6%;
    }
     /* _-------------------how-it-works-------------------------_ */
    .documentation-info-all-tablet-point{
        display: flex;
        justify-content: space-between;
        width: calc(280px * var(--az));
        padding: calc(10px * var(--az));
        padding-left: calc(30px * var(--az));
    }
    .documentation-info-all-tablet-point-img-wrapper{
        width: calc(40px * var(--az));
        height: calc(40px * var(--az));
    }
    .documentation-info-all-tablet-points{
        position: static;
    }
    .documentation-info-all-tablet>img{
        display: none;
    }
    .documentation-info-all{
        justify-content: center;
    }
    .documentation-info-all-tablet-points{
        margin-top: 3vh;
        gap: 3vh;

    }
    .documentation-info-all {
        margin-top: 0%;
    }
}
@media(max-width:320px){
    .documentation-info-all-tablet-point{
        width: calc(220px * var(--az));
    }
    .versions-accardion{
        padding: 5%;
    }
}
@media(max-width:900px) and (prefers-color-scheme:light){
    .documentation-info-all-tablet-point-text>*{
        color:white;
    }
}
@media(max-width:425px) and (prefers-color-scheme:light){
    .documentation-info-all-tablet-point-text>*{
        color: #151414;
    }
}
@media(prefers-color-scheme:light){
    .documentation-info-all-tablet-point-text>*{
        color: #ffffff;
    }
}

